# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Env / secrets
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage / test
coverage/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

.vercel
